@mixin container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
@mixin button {
    border: 2px solid $primary-color;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.17;
    color: $text-color;
}

@mixin responsive($breakpoint) {
    @if($breakpoint == m-phone) {
        @media only screen and (max-width: 448px) { @content }
    };
    @if($breakpoint == phone-jr) {
        @media only screen and (max-width: 550px) { @content }
    };
    @if($breakpoint == phone) {
        @media only screen and (max-width: 576px) { @content }
    };
    @if($breakpoint == m-tables) {
        @media only screen and (max-width: 626px) { @content }
    };
    @if($breakpoint == tables) {
        @media only screen and (max-width: 768px) { @content }
    };
    @if($breakpoint == tables-jr) {
        @media only screen and (max-width: 807px) { @content }
    };
    @if($breakpoint == middle-table) {
        @media only screen and (max-width: 885px) { @content }
    };
    @if($breakpoint == big-tables) {
        @media only screen and (max-width: 993px) { @content }
    };
    @if($breakpoint == m-desktop) {
        @media only screen and (max-width: 1067px) { @content }
    };
    @if($breakpoint == desktop) {
        @media only screen and (max-width: 1210px) { @content }
    };
}